<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technology.lpjxlove.bfans">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bfans_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/mapAppKey" />

        <activity android:name=".UI.MainActivity" />
        <activity
            android:name=".UI.SplashActivity"
            android:theme="@style/MyFullScreenStyle"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.LoginActivity"
            android:theme="@style/MyFullScreenStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UI.RegisterActivity"
            android:theme="@style/MyFullScreenStyle" />
        <activity
            android:name=".UI.AddBattleActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".UI.AddCircleActivity"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".UI.SettingActivity" />
        <activity android:name=".UI.MyActivity" />
        <activity android:name=".UI.MessageActivity" />
        <activity android:name=".UI.BattleDetailActivity" />
        <activity android:name=".UI.MapActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".UI.AlbumActivity"
            android:theme="@style/MyAppTheme" />
        <activity android:name=".UI.MyCircleActivity" />
        <activity android:name=".UI.CircleDetailActivity" />
        <activity android:name=".UI.MoreGoodActivity" />

        <service
            android:name=".Service.KeepAliveService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.KeepAliveService$InnerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.MyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".UI.QrScanActivity" />
        <activity android:name=".UI.MyBattleActivity"
            android:theme="@style/transParentStateBarStyle">
        </activity>
    </application>

</manifest>